{% extends 'pillreminder/dashboard.html' %}

{% block title %} Home | Pill Reminder {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <h1 class="mt-3">Add Reminder</h1>
  <div class="row">
    <div class="col-6">
      <form method="POST" id="form-container">
        {% csrf_token %}
        {{ form|crispy }}
        <strong>Medicines</strong>
        <div id="medicines">
          {{ medicineFormSet.management_form }}
          {% for form in medicineFormSet %}
          <div class="medicines">
            {{ form|crispy }}
          </div>
          {% endfor %}
          <button type="button" id="add-form" class="btn btn-warning my-3">Add another</button>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Add Reminder</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}

<script>
  let medicines = document.querySelectorAll(".medicines")
  let container = document.querySelector("#medicines")
  let addButton = document.querySelector("#add-form")
  let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

  let formNum = medicines.length-1
  addButton.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()

    let newForm = medicines[0].cloneNode(true)
    let formRegex = RegExp(`form-(\\d){1}-`,'g')

    formNum++
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
    container.insertBefore(newForm, addButton)

    totalForms.setAttribute('value', `${formNum+1}`)
  }

</script>

{% endblock %}
