{% extends 'pillreminder/dashboard.html' %}

{% block title %} Home | Pill Reminder {% endblock %}
{% block pagetitle %} Edit Reminder {% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-6">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="medicine-title clearfix">
          <strong>Medicines</strong>
        </div>
        <div id="medicines">
          {{ form.formset.management_form }}
          {% for form in form.formset %}
          <div class="medicines">
            {{ form|crispy }}
          </div>
          {% endfor %}
          <button type="button" id="add-form" class="btn btn-warning my-3" disabled>Add another</button>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Save Reminder</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/pillreminder.js' %}"></script>
{% endblock %}
