{% extends base_template %}

{% block title %} {{ user.username }} | Pill Reminder {% endblock %}
{% block pagetitle %} User Profile {% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-6">
      <a href="{% url 'profile-edit' user.id %}">Edit</a>
      <div class="username"><strong>Username: </strong>{{ user.username }}</div>
      <div class="fullname"><strong>Full Name: </strong>{{ user.first_name }} {{ user.last_name }}</div>
      <div class="email"><strong>Email: </strong>{{ user.email }}</div>
      <div class="joined"><strong>Joined: </strong>{{ user.date_joined }}</div>
      <div class="lastlogin"><strong>Last Login: </strong>{{ user.last_login }}</div>
      <div class="upcoming"><strong>Future Reminder(s): </strong></div>
    </div>
    {% if user.profilepicture %}
      <div class="col-6">
        <img src="{{ user.profilepicture.image.url }}" alt="Profile Picture" class="float-end" width="200" height="200">
      </div>
    {% endif %}
  </div>
  {% for reminder in user.upcoming_reminders %}
    <a href="{% url 'reminder' reminder.id %}" class="reminder-anchor hover:bg-gray-50">
      <div class="border reminder-item rounded-2 p-3 my-3">
        {{ reminder.days }}
        @
        {{ reminder.time }}
        <div class="actions">
          <a href="#" class="btn btn-danger float-end">Delete</a>
          <a href="{% url 'reminder-edit' reminder.id %}" class="btn btn-success float-end me-2">Edit</a>
        </div>
      </div>
    </a>
  {% endfor %}
{% endblock %}
