<html>
    <head></head>
    <body>
        <div style="border: 1px #f0f0f0 solid;
                    font-family: Arial;
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;">
            <div style="background: linear-gradient(0.25turn, #ffffff, #f69d3c);
                        min-height: 80px;
                        display: table;
                        width: 100%;
                        ">
                <h2 style="color: #3d3d3d; display: table-cell; vertical-align: middle; padding: 0 15px;">Pills Reminder</h2>
            </div>
            <div style="margin: 0; padding: 15px;">
                <p style="font-size: 16px;">Hi {{ user.get_full_name }},</p>
                {% for reminder in reminders %}
                    <p style="font-size: 16px;">Take the following medicines at <strong>{{ reminder.get_time }}</strong> today:</p>
                    <ul>
                        {% for medicine in reminder.medicine_set.all %}
                            <li style="font-size: 16px;">{{ medicine.name }} x {{ medicine.get_dosage }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                <div style="font-size: 14px; height: 30px;">
                    <p style="margin-bottom: 0; float: left;">Automated Email Reminder</p>
                    <p style="margin-bottom: 0; float: right;">Powered by <a href="https://www.square63.com" style="color: #4848ff;">Square63</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
