{% extends base_template|default:'main/extender.html' %}

{% block title %} Home | Pill Reminder {% endblock %}
{% block pagetitle %} Pill Reminder {% endblock %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% for reminder in user.reminder_set.all %}
      <a href="{% url 'reminder' reminder.id %}" class="reminder-anchor hover:bg-gray-50">
        <div class="border reminder-item rounded-2 p-3 my-3">
          {{ reminder.get_selected_days }}
          @
          {{ reminder.time }}
          <div class="actions">
            <a href="{% url 'reminder-delete' reminder.id %}" class="btn btn-danger float-end">Delete</a>
            <a href="{% url 'reminder-edit' reminder.id %}" class="btn btn-success float-end me-2">Edit</a>
          </div>
        </div>
      </a>
    {% endfor %}
  {% endif %}
{% endblock %}
