{% extends 'main/dashboard.html' %}

{% block title %} Reminder | Pill Reminder {% endblock %}
{% block pagetitle %} Reminder {{ reminder.id }} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <a href="{% url 'reminder-edit' reminder.id %}" class="btn btn-sm btn-warning">Edit</a>
  <p>This reminder is sent through Email <strong>{{ reminder.get_selected_days }}</strong> at <strong>{{ reminder.time }}</strong> <i>(local time)</i></p>
  <p><strong>Days: </strong>{{ reminder.days }}</p>
  <p><strong>Time: </strong>{{ reminder.time }} <i>(Asia/Karachi)</i></p>
  <p><strong>Sent Through: </strong>Email</p>
  <p><strong>Medicines: </strong></p>
  {% if reminder.has_medicines %}
    <ul>
      {% for medicine in reminder.medicine_set.all %}
        <li>{{ medicine.name }} x {{ medicine.get_dosage }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <p>
    <strong>Active: </strong> {% if reminder.is_active %} Active {% else %} Disabled {% endif %}
  </p>
{% endblock %}
